<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>Created by {{user.username}} on {{format_date post_date}}</p>
 <p> {{content}}</p>
 <p>{{comment}}</p>

  {{#if logged_in}}
     <p>
    <button class="btn btn-primary" id="new-comment-btn">Comment</button>
  </p>
  <form id="comment-form" style="display: none;">
<textarea class="form-textarea form-input" id="comment" >  </textarea>

        <input type="hidden" id="thisId" value="{{id}}"/>
        <button id="submitComment" type="submit">Submit</button>
      </form>
        {{else}}
        <p class="login-link" onclick="window.location.href = '/login';">To add a comment, please login</p>
        {{/if}}
 
</div>
